<f:layout name="default" />
<f:section name="content">

<div id="template-mcs">

    <div class="ym-column linearize-level-1 linearize-level-2">
        <div class="ym-col1">
            <div class="ym-cbox">
                <f:render partial="menuContent" arguments="{layoutStyle:layoutStyle}"></f:render>
            </div>
        </div>
        <aside class="ym-col2">
            <div class="ym-cbox">
                <f:render partial="sideContent" arguments="{layoutStyle:layoutStyle}"></f:render>
            </div>
        </aside>
        <div class="ym-col3">
            <div class="ym-cbox ym-clearfix">
                <f:render partial="mainContent" arguments="{layoutStyle:layoutStyle}"></f:render>
                <div class="ym-ie-clearing">&</div>
            </div>
        </div>
    </div>

</div>

</f:section>