<f:layout name="Default" />
<f:section name="content">

<div id="template-msc">

    <div class="ym-column linearize-level-1 linearize-level-2">
        <div class="ym-col1">
            <div class="ym-cbox">
                <f:render partial="MenuContent" arguments="{layoutStyle:layoutStyle}"></f:render>
            </div>
        </div>
        <div class="ym-col2">
            <div class="ym-cbox">
                <f:render partial="MainContent" arguments="{layoutStyle:layoutStyle}"></f:render>
            </div>
        </div>
        <aside class="ym-col3">
            <div class="ym-cbox ym-clearfix">
                <f:render partial="SidebarContent" arguments="{layoutStyle:layoutStyle}"></f:render>
                <div class="ym-ie-clearing">&</div>
            </div>
        </aside>
    </div>

</div>

</f:section>