<p><f:translate key="tx_ftm_domain_model_template.noTemplateAvailableText"></f:translate></p>
<br />
<br />
<p class="ftmLinkRow"><!-- Neues Template erstellen --> 
    <f:link.action action="createTemplate" arguments="{templateType: ''}">
        <span class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-edit-add">&nbsp;</span>
        <span class="ftmLinkLabel"><f:translate key="tx_ftm_domain_model_template.noTemplateAvailableCreateTemplate"></f:translate></span>
    </f:link.action>
    <br/>
    <f:link.action action="createTemplate" arguments="{templateType: 'yaml'}">
        <span class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-edit-add">&nbsp;</span>
        <span class="ftmLinkLabel"><f:translate key="tx_ftm_domain_model_template.noTemplateAvailableCreateYamlTemplate"></f:translate></span>
    </f:link.action>
    <br/>
    <f:link.action action="createTemplate" arguments="{templateType: 'bootstrap'}">
        <span class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-edit-add">&nbsp;</span>
        <span class="ftmLinkLabel"><f:translate key="tx_ftm_domain_model_template.noTemplateAvailableCreateBootstrapTemplate"></f:translate></span>
    </f:link.action>
    <f:link.action action="createTemplate" arguments="{templateType: 'bootstrap_3'}">
        <span class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-edit-add">&nbsp;</span>
        <span class="ftmLinkLabel"><f:translate key="tx_ftm_domain_model_template.noTemplateAvailableCreateBootstrap3Template"></f:translate></span>
    </f:link.action>
    <br/>
</p>