<td nowrap="nowrap" ><a><f:translate key="tx_ftm_domain_model_template.list_col_name"></f:translate></a></td>
<td nowrap="nowrap" ><a><f:translate key="tx_ftm_domain_model_template.list_col_filename"></f:translate></a></td>
<td nowrap="nowrap" ><a><f:translate key="tx_ftm_domain_model_template.list_col_type"></f:translate></a></td>
<td nowrap="nowrap" ><a><f:translate key="tx_ftm_domain_model_template.list_col_description"></f:translate></a></td>
<td nowrap="nowrap" class="col-actions"><a><f:translate key="tx_ftm_domain_model_template.list_col_actions"></f:translate></a></td>