{namespace ftm=CodingMs\Ftm\ViewHelper}
<ul class="ftmActionList">
    <li><!-- Template bearbeiten -->
        <a href="#" onclick="window.location.href='alt_doc.php?returnUrl='+T3_THIS_LOCATION+'&amp;edit[tx_ftm_domain_model_template][{fluidTemplate.uid}]=edit'; return false;" title="{f:translate(key: 'tx_ftm_domain_model_template.template_edit_template')}">
            <span class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-open">&nbsp;</span>&nbsp;
            <span class="buttonLabel"><f:translate key="tx_ftm_domain_model_template.template_edit_template"></f:translate></span>
            <span class="buttonDescription"></span>
        </a>
    </li>
    <li><!-- Nur Snippets bearbeiten -->
        <ftm:be.editLink parameters="edit[tx_ftm_domain_model_template][{fluidTemplate.uid}]=edit&columnsOnly=typo_script_snippet_info,typo_script_snippet"
                         returnUrl="mod.php?M=web_FtmFtm&tx_ftm_web_ftmftm[action]=list&id={options.pid}"
                         title="{f:translate(key: 'function_links_edit_page_1_restricted')}">
            <ftm:be.icon icon="actions-document-open" title="{f:translate(key: 'function_links_edit_page_1_restricted')} translate: Snippets verwalten" />
            <f:translate key="function_links_edit_page_1_restricted" /> translate: Snippets verwalten
        </ftm:be.editLink>
    </li>
    <li><!-- TYPOScript re/generieren -->
        <f:link.action action="generateTypoScript" controller="TemplateManager" arguments="{typoScriptFile: 'setup.ts' }">
            <span class="t3-icon t3-icon-actions t3-icon-actions-document ftm-icon-generate-typoscript">&nbsp;</span>&nbsp;
            <span class="buttonLabel"><f:translate key="tx_ftm_domain_model_template.template_generate_typoscript"></f:translate></span>
            <span class="buttonDescription">@todo translate: Diese Aktion muss ausgeführt werden, wenn sich die Konfiguration des Templates veränder hat.
                Also wenn Sie Einstellungen um Template-Datensatz geändert haben.</span>
        </f:link.action>
    </li>
    <li><!-- Snippets auslesen -->
        <f:link.action action="loadSnippets" controller="TypoScriptSnippet">
            <span class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-system-refresh">&nbsp;</span>&nbsp;
            <span class="buttonLabel"><f:translate key="tx_ftm_domain_model_template.template_load_snippets"></f:translate></span>
            <span class="buttonDescription"></span>
        </f:link.action>
    </li>
</ul>
<br />
<br />
<table border="0" cellpadding="0" cellspacing="0" class="typo3-dblist">
    <thead>
        <tr class="t3-row-header">
            <td nowrap="nowrap" class="col-icon"><span class="t3-icon t3-icon-actions t3-icon-actions-view t3-icon-view-list-collapse collapseIcon">&nbsp;</span></td>
            <td nowrap="nowrap" class="" colspan="6"><span class="c-table"><f:translate key="tx_ftm_domain_model_template.typoscript_snippet_headline"></f:translate></span> (<f:count subject="{fluidTemplate.typoScriptSnippet}" />) </td>
        </tr>
        <tr class="c-headLine">
            <td nowrap="nowrap" class="col-icon">
                <ftm:be.editLink parameters="&edit[tx_ftm_domain_model_templatetyposcriptsnippet][{options.pid}]=new" returnUrl="mod.php?M=web_FtmFtm&tx_ftm_web_ftmftm[action]=list&id={options.pid}" title="{f:translate(key: 'function_links_new_haiku')}">
                    <ftm:be.icon icon="actions-document-new" title="{f:translate(key: 'function_links_new_haiku')} @todo translate: neues Snippet erstellen" />
                </ftm:be.editLink>
            </td>
            <td nowrap="nowrap" ><a><f:translate key="tx_ftm_domain_model_template.typoscript_snippet_col_name"></f:translate></a></td>
            <td nowrap="nowrap" ><a><f:translate key="tx_ftm_domain_model_template.typoscript_snippet_col_type"></f:translate></a></td>
            <td nowrap="nowrap" ><a><f:translate key="tx_ftm_domain_model_template.typoscript_snippet_col_description"></f:translate></a></td>
            <td nowrap="nowrap" class="col-actions"><a><f:translate key="tx_ftm_domain_model_template.typoscript_snippet_col_actions"></f:translate></a></td>
        </tr>
    </thead>
    <tbody>
        <f:for each="{fluidTemplate.typoScriptSnippet}" as="snippet" iteration="rowIteration">
            <tr class="db_list_normal {f:if(condition: rowIteration.isFirst, then: 'firstcol')} {f:if(condition: rowIteration.isLast, then: 'lastcol')}">
                <ftm:typoScriptSnippetRow fluidTemplate="{fluidTemplate}" snippet="{snippet}"></ftm:typoScriptSnippetRow>
            </tr>
        </f:for>
    </tbody>
</table>