{namespace ftm=CodingMs\Ftm\ViewHelper}
<ul class="ftmActionList">
    <f:render partial="TemplateManagerButtons/EditTemplateTypoScriptSnippets" arguments="{fluidTemplate: fluidTemplate, options: options}"/>
    <f:render partial="TemplateManagerButtons/GenerateTypoScript"             arguments="{fluidTemplate: fluidTemplate, options: options}"/>
    <f:render partial="TemplateManagerButtons/GenerateDynCssFiles"            arguments="{fluidTemplate: fluidTemplate, options: options}"/>
    <f:render partial="TemplateManagerButtons/LoadTypoScriptSnippets"         arguments="{fluidTemplate: fluidTemplate, options: options}"/>
</ul>
<br />
<br />
<table border="0" cellpadding="0" cellspacing="0" class="typo3-dblist">
    <thead>
        <tr class="t3-row-header">
            <td nowrap="nowrap" class="col-icon">
                <span class="t3-icon t3-icon-actions t3-icon-actions-view t3-icon-view-list-collapse collapseIcon">&nbsp;</span>
            </td>
            <td nowrap="nowrap" class="" colspan="6">
                <span class="c-table">
                    <f:translate key="tx_ftm_domain_model_template.typoscript_snippet_headline"></f:translate>
                </span>
                (<f:count subject="{fluidTemplate.typoScriptSnippet}" />)
            </td>
        </tr>
        <tr class="c-headLine">
            <td nowrap="nowrap" class="col-icon">
                <ftm:be.editLink parameters="&edit[tx_ftm_domain_model_templatetyposcriptsnippet][{options.pid}]=new" returnUrl="mod.php?M=web_FtmFtm&tx_ftm_web_ftmftm[action]=list&id={options.pid}" title="{f:translate(key: 'function_links_new_haiku')}">
                    <ftm:be.icon icon="t3-icon-document-new" title="{f:translate(key: 'function_links_new_haiku')} @todo translate: neues Snippet erstellen" />
                </ftm:be.editLink>
            </td>
            <td nowrap="nowrap" ><a><f:translate key="tx_ftm_domain_model_template.typoscript_snippet_col_name"></f:translate></a></td>
            <td nowrap="nowrap" ><a><f:translate key="tx_ftm_domain_model_template.typoscript_snippet_col_type"></f:translate></a></td>
            <td nowrap="nowrap" ><a><f:translate key="tx_ftm_domain_model_template.typoscript_snippet_col_description"></f:translate></a></td>
            <td nowrap="nowrap" class="col-actions"><a><f:translate key="tx_ftm_domain_model_template.typoscript_snippet_col_actions"></f:translate></a></td>
        </tr>
    </thead>
    <tbody>
        <f:for each="{fluidTemplate.typoScriptSnippet}" as="snippet" iteration="rowIteration">
            <tr class="db_list_normal {f:if(condition: rowIteration.isFirst, then: 'firstcol')} {f:if(condition: rowIteration.isLast, then: 'lastcol')}">
                <ftm:typoScriptSnippetRow fluidTemplate="{fluidTemplate}" snippet="{snippet}"></ftm:typoScriptSnippetRow>
            </tr>
        </f:for>
    </tbody>
</table>