{namespace ftm=CodingMs\Ftm\ViewHelper}
<li>
    <a href="#" onclick="window.location.href='alt_doc.php?returnUrl='+T3_THIS_LOCATION+'&amp;edit[tx_ftm_domain_model_template][{fluidTemplate.uid}]=edit&amp;columnsOnly=dyncss_file'; return false;"
       title="Dyncss-Dateien im Template-Datensatz bearbeiten">
        <ftm:be.icon icon="actions-document-open" title="Dyncss-Dateien im Template-Datensatz bearbeiten" />&nbsp;
        <span class="buttonLabel">Dyncss-Dateien im Template-Datensatz bearbeiten</span>
        <span class="buttonDescription">Dyncss-Dateien im Template-Datensatz bearbeiten</span>
    </a>
</li>