<li>
    <ftm:be.editLink parameters="edit[tx_ftm_domain_model_template][{fluidTemplate.uid}]=edit&columnsOnly=typo_script_snippet_info,typo_script_snippet"
                     returnUrl="mod.php?M=web_FtmFtm&tx_ftm_web_ftmftm[action]=list&id={options.pid}"
                     title="{f:translate(key: 'function_links_edit_page_1_restricted')}">
        <ftm:be.icon icon="actions-document-open" title="{f:translate(key: 'function_links_edit_page_1_restricted')} translate: Snippets verwalten" />
        <f:translate key="function_links_edit_page_1_restricted" /> translate: Snippets verwalten
    </ftm:be.editLink>
</li>