<li>
    <f:link.action action="generate" controller="DynCss">
        <span class="t3-icon t3-icon-actions t3-icon-actions-document ftm-icon-generate-less-variables">&nbsp;</span>&nbsp;
        <span class="buttonLabel"><f:translate key="tx_ftm_domain_model_template.template_generate_less_variables"></f:translate></span>
                            <span class="buttonDescription">@todo translate: Diese Aktion muss ausgeführt werden, wenn sich die dynamischen CSS Variablen geändert haben.
                                Wenn sich also default-Werte geändert haben, neue Variablen dazugekommen sind oder sich bspw. die Reihenfolge verändert hat.</span>
    </f:link.action>
</li>