{namespace ftm=CodingMs\Ftm\ViewHelper}
<div class="typo3-messages">
    <div class="typo3-message message-information">
        <div class="message-header"><f:translate key="tx_ftm_domain_model_template.disclaimer_headline"></f:translate></div>
        <div class="message-body">
            <f:translate key="tx_ftm_domain_model_template.disclaimer_intro"></f:translate>
            <br />
            <br />
            <br />
            
            <b><f:translate key="tx_ftm_domain_model_template.disclaimer_warning"></f:translate></b> <f:translate key="tx_ftm_domain_model_template.disclaimer_warning_text"></f:translate>
               <br />
               <br />
               <br />
               
            <!-- Wenn auf der aktuellen Seite schon ein Template vorhanden ist,
                 biete die Moeglichkeit der Ausblendung dieser Nachricht -->
            <f:if condition="{options.templateOnCurrentPage}">
                <f:then>
                    <f:form action="acceptDisclaimer" name="newDogMeasurement" object="{newDogMeasurement}" id="measurementForm">
                        <label><f:form.checkbox name="acceptDisclaimer" value="true" additionalAttributes="{onclick: 'this.form.submit();' }"></f:form.checkbox> <f:translate key="tx_ftm_domain_model_template.disclaimer_accept_conditions"></f:translate></label><br />
                    </f:form>
                </f:then>
            </f:if>
            
        </div>
    </div>
</div>