<h2><f:translate key="tx_ftm_domain_model_template.wikiHeadline"></f:translate></h2>
<p><f:translate key="tx_ftm_domain_model_template.wikiText"></f:translate>
    <f:link.external uri="http://forge.typo3.org/projects/show/extension-ftm" target="_blank">http://forge.typo3.org/projects/show/extension-ftm</f:link.external>
    <br /><br />
</p>
<div class="ftmWikiContainer" style="min-height: 768px">
    <iframe src="{options.wikiUrl}" width="100%" height="100%" style="min-height: 768px" frameborder="no" scrolling="yes" name="ftmWikiFrame"></iframe>
</div>